<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <hr/>
    <form action="/join" method="post">
        <input type="text" class="form-control" name="username" placeholder="Enter username"/> <br/>
        <input type="password" class="form-control" name="password" placeholder="Password"/><br/>
        <input type="email" class="form-control" name="email" placeholder="Enter email"/><br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/">Back</a>
</body>
</html>
